<p-orderList
  [value]="products"
  [listStyle]="{'height':'auto'}"
  header="List of Orders"
  filterBy="name"
  filterPlaceholder="Filter by name"
>
  <ng-template let-product pTemplate="item">
    <div class="product-item">
      <div class="product-list-detail">
        <h5 class="p-mb-2">{{product.name}}</h5>
        <i class="pi pi-tag product-category-icon"></i>
        <span class="product-category"
          >Total-Items: {{product.orderedItems}}</span
        >
      </div>
      <div class="product-list-action">
        <h6 class="p-mb-2">${{product.totalPrice}}</h6>
        <span
          [class]="'product-badge-'+ product.status.toLowerCase()"
          (click)="changeStatus(product)"
          >{{product.status}}</span
        >
      </div>
    </div>
  </ng-template>
</p-orderList>
